@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.App {
  min-height: 100vh;
  display: flex;
  border: 1px solid #000;
  background: linear-gradient(
    134deg,
    #e42020 0%,
    rgba(73, 207, 233, 0.94) 0.01%,
    rgba(102, 143, 181, 0.56) 49.54%,
    rgba(32, 22, 22, 0) 100%
  );
}
